<div style="background-color:black;">
    
            <h1>QuickMart</h1>
          
        </div>
        <div class="row">
            <div class="main">
                <div class="card">
                   
        <form #forgotpassform="ngForm" name="forgotpassform" (ngSubmit)="ForgotPassData(forgotpassform)">
            <div class="container">
        
            <div>
                <label for="newpsw"><b>New Password :</b></label>
                <input type="password" name="npsw" [(ngModel)]="model.npsw" placeholder="New Password" #npsw="ngModel" required>
                <span *ngIf="npsw.errors?.required">Password has to be entered</span>
            </div>
            
            <div>
                <label for="confpsw"><b> Confirm Password</b></label>
                <input type="password" name="cpsw" [(ngModel)]="model.cpsw" placeholder="Confirm Password" #cpsw="ngModel" required>
                <span *ngIf="cpsw.errors?.required">Password cannot be blank</span>
    </div> 
      
     <div>
                <label for="sotp"><b>OTP :</b></label>
                <input type="text" name="otp" [(ngModel)]="model.otp" placeholder="Enter OTP" #otp="ngModel" required>
                <span *ngIf="otp.errors?.required">OTP has to be entered</span>
    
                  <button type="submit">Send OTP</button>
            </div>
    
        
            <div>
            
                <button type="submit" [disabled]="forgotpassform.invalid">Update</button>
          </div>
            
            </div>
        
            
            
        </form>
        
        </div>
        </div>
        </div>