<div class="bg">
    <!--Heading of the Page-->
      <h1 style="text-align: center;"><span class="badge badge-pill badge-warning"><i>View Your Cart</i></span></h1>
      
    <!-- Form for Button
      <form #regform="ngForm" name="regform" (ngSubmit)="RegisterData(regform)">
        <div>
          <h1 style="text-align: center;"> <button type="submit" class="btn btn-success" [disabled]="regform.invalid">Add Retailer</button></h1>
        </div>
      </form >-->
    
      <!-- Display contents in table format-->
      <div class="jumbotron bg ">
        <div class="card opaque">
            <div class="card-header">
                <H2 style="text-align: center;"><i><b><span class="badge badge-pill badge-warning"><i>View Your Cart</i></span></b></i></H2>
            </div>
            <div card="card-body">
      <div class="container">
      <div class="table-responsive">
        <table  class="table table-dark ">
    
            <tr>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>
           

            <tr *ngFor="let item of cartdetails">
                <td><img src="../../../assets/images/{{item.Product_Image}}" alt="" border=3 height=100 width=100></td>
                <td>{{item.Product_Price}}</td>
            
                <td>{{item.Product_Quantity}}</td>
                <td>{{item.Total_Order_Amount}}</td>
            
            
                <!-- <td><a routerLink="/UpdateProduct/{{prodlist.ProductID}}">
                        <i class="fa fa-edit" style=" font-size: 30px;color:blue; cursor: pointer;"></i>
                    </a></td>-->
                    <td><button class='btn btn-lg btn-success'(click)="delete(item.Cart_Details_Id)">Delete</button></td>
            </tr>

            
            <tr align="right">
                <td><b>Grand Total</b></td>
                <td>{{carttotal}}</td>
            </tr>
    
            <div>
                <br>
                
                <select name="PayMode"  required>
                    <option name="Net Banking" value="Net Banking" (click)="NetBanking()">Net Banking</option>
                    <option name="COD" value="COD" (click)="COD()">Cash on Delivery</option>
                </select><br>
                <br>
                  
            </div>
    
        </table>
    </div>
        <h1 style="text-align:center"><button class="btn btn-success btn-lg" > Place Order </button></h1>
    </div>
    </div>
    </div>
    </div>
    </div>





<!--<h1>aa</h1>

<table border="1">

    <tr>
       
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
    </tr>
    <tr *ngFor="let item of cartdetails">
        

            <td><img src ="../../../assets/images/{{item.Product_Image}}" alt="" border =3 height =100 width=100 ></td>
            <td>{{item.Product_Price}}</td>
            <td>{{item.Product_Quantity}}</td>
            <td>{{item.Total_Order_Amount}}</td>


           <---- <td><a routerLink="/UpdateProduct/{{prodlist.ProductID}}">
                <i class="fa fa-edit" style=" font-size: 30px;color:blue; cursor: pointer;"></i>
            </a></td>
            <td><button (click)="delete(item.Cart_Details_Id)">Delete</button></td>


    </tr>
    

    <tr align ="right">
        <td><b>Grand Total</b></td>

        <td>{{carttotal}}</td>
    </tr>
    
    

</table>
<div>
    <br>
    
    <select name="PayMode"  required>
        <option name="Net Banking" value="Net Banking" (click)="NetBanking()">Net Banking</option>
        <option name="COD" value="COD" (click)="COD()">Cash on Delivery</option>
    </select><br>
    <br>
      
</div>


<button > Place Order </button>-->
