<div style="background-color:black;">
    
    <h1>QuickShop</h1>
  
</div>
<h1 style="color: black;"><b>Product Details</b></h1>

           
<form #regform="ngForm" name="regform" (ngSubmit)="Product(regform)">
    <div class="container">
      
       <!--<div>Retailer email</div>
        <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required><br><br>
        <span *ngIf="email.errors?.required" style="color: red;">Retailer Email cannot be blank</span>
        <div>
        <br>
        <button type="submit" [disabled]="regform.invalid">View Product</button>
        </div>-->

        <div>
            <button type="submit" [disabled]="regform.invalid">View Product</button>
        </div>
    </div>
</form>
<div class="container">
    <h3 style="color: blue;">Products</h3>
<table border="1">

    <tr>
        <th>ProductID</th>
        <th>BrandName</th>
        <th>Image</th>
        <th>Description</th>
        <th>CategoryID</th>
        <th>RetailerID</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr *ngFor="let item of prodlist">
        
            <td>{{item.Product_Id}}</td>
            <td>{{item.Product_BrandName}}</td>
          <!---- <td><img src="{{item.Product_Image}}" alt="" border =3 height =100 width=100></td>-->

            <td><img src ="../../../assets/images/{{item.Product_Image}}" alt="" border =3 height =100 width=100 ></td>
            <td>{{item.Product_Description}}</td>
            <td>{{item.Category_Id}}</td>
            <td>{{item.Retailer_ID}}</td>
            <td>{{item.Product_Price}}</td>
            <td>{{item.Product_Quantity}}</td>
           <!---- <td><a routerLink="/UpdateProduct/{{prodlist.ProductID}}">
                <i class="fa fa-edit" style=" font-size: 30px;color:blue; cursor: pointer;"></i>
            </a></td>-->
            <td><button (click)="delete(item.Product_Id)">Edit</button></td>
            <td><button (click)="delete(item.Product_Id)">Delete</button></td>


    </tr>
        

</table>
</div>
