<body >
    <div class="jumbotron bg">
        <div class="card">
            <div class="card-header">
                <H2><i><b>Products</b></i></H2>
            </div>
            <div card="card-body">
                <div class="table-responsive">
                    <table class="table table-dark ">

                        <tr>
                            <th scope="col">ProductID</th>
                            <th scope="col">BrandName</th>
                            <th scope="col">Image</th>
                            <th scope="col">Description</th>
                            <th scope="col">CategoryID</th>
                            <th scope="col">RetailerID</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        <tr>

                            <td>1223</td>
                            <td>veromoda</td>
                            <td>fgfsaadcf</td>
                            <td>fdjhjlllllllllllllllllllllllllllllllllllllllllllllllllklkdd</td>
                            <td>3445</td>
                            <td>2233</td>
                            <td>4455</td>
                            <td>2</td>
                            <td><button class="btn btn-success">Edit</button></td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        </tr>
                  
                        
                        <!-- <tr *ngFor="let item of prodData">

                        
                        <td>{{item.Product_Id}}</td>
                        <td>{{item.Product_BrandName}}</td>
                        <td>{{item.Product_Image}}</td>
                        <td>{{item.Product_Description}}</td>
                        <td>{{item.Category_Id}}</td>
                        <td>{{item.Retailer_ID}}</td>
                        <td>{{item.Product_Price}}</td>
                        <td>{{item.Product_Ouantity}}</td>

                        <td><button  class="btn btn-success" (click)="delete(item.Product_Id)">Edit</button></td>
                        <td><button class="btn btn-danger" (click)="delete(item.Product_Id)">Delete</button></td>

                    </tr>-->
                  

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

