 <nav class="navbar navbar-expand-sm navbar-dark bg-primary pl-5 fixed-top">
    <a routerLink ="Home" class="navbar-brand text-white" >QuickShop</a>
    <span class="navbar-text text-white">Best Deals Here</span>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myMenu">
      <ul class="navbar-nav pl-5 custom-nav">
        <li class="nav-item"><a routerLink="Home" class="nav-link text-white">Home</a></li>
        <li class="nav-item bg bg-primary">
          <div class="dropdown show ">
            <a class="btn btn-primmary text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
          
            <div class="dropdown-menu bg-primary text-white " aria-labelledby="dropdownMenuLink" >
              <a class="dropdown-item text-white" routerLink="Category"  (click)= "Mobile()" >Electronics-Mobile</a>
              <a class="dropdown-item  text-white" routerLink="Category" (click)="TV()">Electronics-Laptop</a>
              <a class="dropdown-item  text-white" routerLink="Category" (click)="Laptop()">Electronics-TV</a>
              <a class="dropdown-item text-white" routerLink="Category" (click)="Men()">Men-Fashion</a>
              <a class="dropdown-item text-white" routerLink="Category" (click)="Women()">Women-Fashion</a>
            </div>
          </div>
         


        </li>
        <li class="nav-item"><a routerLink="Compare"class="nav-link text-white">Compare</a></li>
        <li class="nav-item"><a routerLink="Cart" class="nav-link text-white">Cart</a></li>


        <!------Adding a drop down menu for account in nav-bar using bootstrap  -->


        <li class="nav-item"><a routerLink="Login" class="nav-link text-white">Login</a></li>
        
<!--*ngIf="sess=='false'"-->

        <!------Adding a drop down menu for account in nav-bar using bootstrap  -->
        <li class="nav-item"><a  routerLink="Register" class="nav-link text-white">Signup</a></li>
        <li class="nav-item" ><a  routerLink="Login"  class="nav-link text-white">Logout</a></li>
      </ul><!--*ngIf="sess=='true'"    (click)="Logout()"-->
    </div>
  </nav> <!-- End Navigation -->
  <div style="background-image:WebsiteShop\Online_Shopping\src\assets\images\pexels-pixabay-207589"></div>
