<div style="background-color:black;">

    <h1>QuickShop</h1>

</div>
<div class="container-fluid bg">

    <H1><i><b><span class="badge badge-pill badge-warning badge-lg"><i>Confused ?? We are here to help
                        you.</i></span></b></i></H1>

        <form #regform="ngForm" class="form-group" name="regform" (ngSubmit)="Product(regform)">
            <div class="container">
                <div>
                    <br>
                    <label for="cname"><b>Category</b></label>
                    <select style="height:50px ;width:150px;" name="cname" [(ngModel)]="model.cname" #cname="ngModel" required>
                        <option style="height:50px ;width:150px; color: red;" value="Electronics">Electronics-Mobile</option>
                        <option style="height:50px ;width:150px; color: red;" value="Electronics">Electronics-Laptop</option>
                        <option style="height:50px ;width:150px; color: red;" value="Electronics">Electronics-TV</option>
                        <option style="height:50px ;width:150px; color: red;" value="Men-Fashion">Men-Fashion</option>
                        <option style="height:50px ;width:150px; color: red;" value="Men-Fashion">Women-Fashion</option>
                    </select><br>
                    <br>
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-lg" [disabled]="regform.invalid">View Product</button>
            </div>
        </form>

<div class="container">
    <div class="table-responsive">
        <table class="table table-dark ">
            <h3><span class="badge badge-lg badge-danger badge-block ">Compare Products Here</span></h3>
            <tr>
                <th>ProductID</th>
                <th>BrandName</th>
                <th>Image</th>
                <th>Description</th>
                <th>CategoryID</th>
                <th>RetailerID</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let item of prodlist">

                <td>{{item.Product_Id}}</td>
                <td>{{item.Product_BrandName}}</td>
                <!---- <td><img src="{{item.Product_Image}}" alt="" border =3 height =100 width=100></td>-->

                <td><img src="../../../assets/images/{{item.Product_Image}}" alt="" border=3 height=100 width=100></td>
                <td>{{item.Product_Description}}</td>
                <td>{{item.Category_Id}}</td>
                <td>{{item.Retailer_ID}}</td>
                <td>{{item.Product_Price}}</td>
                <td>{{item.Product_Quantity}}</td>

          
            <td><span *ngIf="item.Product_Quantity==0" style="color: red;" >OutofStock</span>
                <button  class="btn btn-success" *ngIf="!item.Product_Quantity==0" (click)="AddToCart((item.Product_Id))">AddCart</button></td>
    
    
    </tr>
