<<<<<<< HEAD
/*.bg {
    /* The image used */
    /*background-image: url("D:\WebsiteShop\Online_Shopping\src\assets\images\simg3.jpeg.jpg");
  
    /* Full height 
    height: 100%;
  
    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  */
  
=======

  
   
>>>>>>> 834545385fa2c83e8068ad40c90a8c32e9c0778c
